<p id="notice"><%= notice %></p>

<h1>Listing Executions</h1>

<%=render partial: "/executions/executions_list", locals: {:executions => @executions}%>

<br>

<%= link_to 'New Execution', new_project_execution_path %> | 
<%= link_to 'Return to Projects', projects_path %>
