<div class="row">
  <div class="col-md-6 col-md-offset-2">
		<h1>Nova Execução</h1>

		<%= render 'form' %>
		<div id="method_description" class="panel panel-default">
			<%=render partial: "executions/method_description", locals: {description: @description, method: @method}%>
		</div>
	</div>
</div>
